@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Raleway:400,500');

body {
  background-color: #3A7CA5;
  display: flex;
  justify-content: center;
}
.container {
  width: 650px;
  padding-top: 55px;
  margin: 10px 20px;
  background-color: #D9DCD6;
  box-shadow: 0 0 40px #000;
}

.service-container {
    width: 650px;
    height: 700px;
    padding-top: 55px;
    margin: 10px 20px;
    background-color: #D9DCD6;
    box-shadow: 0 0 40px #000;
    justify-content: center;
  }

.header-container{
  width: 650px;
  height: 100px;
  background-color: #D9DCD6;
}

.profile-info {
    float: left;
    display:flex; 
    align-items: center;
    justify-content: space-between;
    color: black;
    transition: all 0.2s ease-in-out;
}

.profile {
    padding-left: 10px;
}

.profile p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #474949;
}

.profile-image {
    float: left;
    width: 30%;
}

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5vh;
    transition: all 0.2s ease-in-out;
}

.nav {
    float: right;
    padding-top: 10px;
    padding-right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav{   
    width: 650px;
    padding-bottom: 20px;
    background-color: #D9DCD6;
    justify-content: center;
}

.menu-button {
    background-color: #81C3D7;
    width: 90%;
    height: 90%;
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;
  }

.service-page-header{
    width: 650px;
    height: 100px;
    background-color: #D9DCD6;
    align-items: center;
}

.back-btn-div{
    vertical-align: middle;
}

.back-btn{
    float: left;
}

.back-btn-img{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5vh;
    transition: all 0.2s ease-in-out;
}

.service-page-header h4 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
}

.input-container{
    width: 650px;
    height: 220px;
    background-color: #D9DCD6;
    align-items: center;
}

.input-item{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.input-item p{
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: 500;
}

.location-selector{
    color: "black";
    background-color: "white";
    font-size: 12px;
    width: 225px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
}

.result{
    height: 75px;
    display: inline;
    align-items: center;
    vertical-align: middle;
}

.result p{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color:#000;
}

.result a{
    font-size: 17px;
}

.submit-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #3A7CA5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.submit-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.submit-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.submit-btn:hover span {
    padding-right: 25px;
}
  
.submit-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.weather-forecast-que{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-forecast-que p{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color:#000;
}

.weather-forecast-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #3A7CA5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    width: 200px;
    height: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.weather-forecast-container{
    padding-left: 20px;
    padding-right: 20px;
}

.weather-forecast-container p{
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.weather-forecast{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000;
    border-style: double;
}

.weather-forecast-item {
    margin-right: 16px;
}
  
.weather-number{
    align-content: center;
    height: 50%;
}

.weather-number p{
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.weather-type{
    align-content: center;
    height: 50%;
}

.weather-type p{  
    font-size:10px;
    position: relative;
    padding-right: 24px;
}

.refresh-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #3A7CA5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.refresh-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.refresh-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.refresh-btn:hover span {
    padding-right: 25px;
}
  
.refresh-btn:hover span:after {
    opacity: 1;
    right: 0;
}
  
.user-history-body{
    margin-left: 100px;
    margin-top: 20px;
    width: 450px;
    height: 350px;
    background-color: #D9DCD6;
    flex: 1;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-y: scroll;
    border: 1px solid black;
}

table {

}

tr {
    width: max-content;
    height: auto;
}

th {
    font-family: 'Montserrat', sans-serif;
    color: #5B5E5E;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
}

td {
    font-family: 'Montserrat', sans-serif;
    color: #5B5E5E;
    font-size: 10px;
    line-height: 25px;
}


.output-image{
    width: 350px;
}

.weather-forecast-navigate-container{
    padding-top: 20px;
}

.weather-forecast-navigate-container p{
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(38, 50, 56);
}

.weather-forecast-btn{
  cursor: pointer;
  width: 300px;
  height: 30px;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #0E4074, #1666b8);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}